* {
    margin: 0;
    padding: 0;
    color: white;
}
@media only screen and (max-width: 600px) {
    html {
        overflow: hidden;
    }
}
html {
    height: 100%;
    width: 100%;
}

button:not(#login-btn)
/* button > img */ {
    background-color: rgb(60, 60, 60);
}
.static-img:not(#remove-img) {
    filter: invert(100%);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;

    filter: blur(10px) brightness(70%);
}
#error {
    color: black;
    background: white;
}

#player {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#album-art {
    box-shadow: 0 0 4px 2px rgb(21, 0, 21);
    width: 90vw;
    margin-top: 20px;
}

#song-info {
    margin: 10px auto 10px 20px;
    font-size: 24px;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

#controls-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

#controls-container > button {
    color: black;
    padding: 10px;
    margin: 5px;
    width: 100%;
}
#remove {
    box-sizing: border-box;
    color: black;
    margin: 20px;
    padding: 10px;
    width: 90%;
    height: 100%;
}
